* {
    box-sizing: border-box;
}
body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}


h1 h2 h3 .logo {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

a{
    color: #e71d36;
    text-decoration: none;
}

/* Header */
header {
    background-color: #011627;
    padding-top: 10px;
    margin-bottom: 30px;
}

header .logo {
    text-align: center;
}

header .nom {
    color: #2ec4b6;
    font-size: 1.75rem;
}

header .metier {
    margin-top: -5px;
}

/* Menu navigation */
header nav ul {
    text-align: center;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
}

header nav ul .hide {
    display: none;
}